<?xml version="1.0"?>
<ProgramConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SearchEngine Address="https://www.google.com/search?hl=en&amp;q=" SearchEngineName="Google">
    <Parser GroupIndex="1">
      <Pattern>\&lt;div[^\&gt;]+id="resultStats"[^\&gt;]*\&gt;About ([\d\,\.]+) results</Pattern>
    </Parser>
  </SearchEngine>
  <SearchEngine Address="https://www.bing.com/search?q=" SearchEngineName="Bing">
    <Parser GroupIndex="1">
      <Pattern>\&lt;span[^\&gt;]+class="sb_count"[^\&gt;]*\&gt;([\d\.\,]+)</Pattern>
    </Parser>
  </SearchEngine>
</ProgramConfiguration>